[Unit]
Description=Apache Tomcat Container
After=syslog.target network.target

[Service]
Type=forking
User=ec2-user
Group=ec2-user
Environment=CATALINA_PID=/usr/lib/tomcat/temp/tomcat.pid
Environment=CATALINA_HOME=/usr/lib/tomcat
Environment=CATALINA_BASE=/usr/lib/tomcat
Environment='CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC'
ExecStart=/bin/nohup /usr/lib/tomcat/bin/startup.sh
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target